@using SkiaSharp
@using SkiaSharp.Views.Blazor
@using HanoiTower.Core

@if (Explanation is HanoiExplanation<ObservableHanoiTower>.Complex complexExplanation)
{
    <ComplexHanoiExplanationView Explanation=@complexExplanation Detailed=@Detailed />
}
else if (Explanation is HanoiExplanation<ObservableHanoiTower>.Simple simpleExplanation)
{
    <SimpleHanoiExplanationView Explanation=@simpleExplanation Detailed=@Detailed />
}
else
{
    @if (Explanation is null)
    {
        <p>Explanation is null.</p>
    }
    else
    {
        <p>Unknown explanation type: @Explanation.GetType()</p>
    }
}

@code
{
    [Parameter]
    public HanoiExplanation<ObservableHanoiTower> Explanation { get; set; } = null!;

    [Parameter]
    public bool Detailed { get; set; }
}
