@page "/hanoi-explanation"
@using HanoiTower.Core
@using HanoiTower.Services
@using HanoiTower.ViewModels
@using SkiaSharp
@using SkiaSharp.Views.Blazor
@inherits HanoiPageBase<HanoiExplanation<ObservableHanoiTower>>

<PageTitle>Hanoi Tower</PageTitle>

<h1>Hanoi Tower explanation</h1>

<EditForm Model="this">
    <p>
        This is the Hanoi Tower's
        <InputSelect @bind-Value="_detailed"> <option value="true">detailed</option> <option value="false">simple</option> </InputSelect>
        explanation for @NumberOfDisks disks.
    </p>
</EditForm>

@if (Result is null)
{
    <p>Calculating explanation...</p>
}
else
{
    <HanoiExplanationView Explanation=@Result Detailed=@_detailed />
}

@code {
    private bool _detailed = true;

    protected override async Task<HanoiExplanation<ObservableHanoiTower>> GetCalculatedResult()
    {
        var tower = new ObservableHanoiTower(NumberOfDisks, SourceRod);
        var solverExplainer = new HanoiSolverExplainer<ObservableHanoiTower>();

        return await Task.Run(() =>
            solverExplainer
                .Solve(new HanoiTowerExplanationContext<ObservableHanoiTower>(tower), new HanoiMove(SourceRod, TargetRod))
                .GetExplanation()
        );
    }
}
