@page "/hanoiexplanation"
@using HanoiTower.Core
@using SkiaSharp
@using SkiaSharp.Views.Blazor

<PageTitle>Hanoi Tower</PageTitle>

<h1>Hanoi Tower explanation</h1>

<EditForm Model="this">
    <p>
        This is the Hanoi Tower's
        <InputSelect @bind-Value="_detailed"> <option value="true">detailed</option> <option value="false">simple</option> </InputSelect>
        explanation.
    </p>
</EditForm>

@if (_solution is null)
{
    <p>Calculating explanation...</p>
}
else
{
    <HanoiExplanationView Solution=@_solution Detailed=@_detailed />
}

@code {
    private HanoiSolution<ObservableHanoiTower>? _solution;
    private bool _detailed = true;

    protected override async Task OnInitializedAsync()
    {
        var numberOfDisks = 8;
        var tower = new ObservableHanoiTower(numberOfDisks);
        var solverExplainer = new HanoiSolverExplainer<ObservableHanoiTower>();

        _solution = await Task.Run(() =>
            solverExplainer
                .Solve(new HanoiTowerSolutionContext<ObservableHanoiTower>(tower), new HanoiMove(HanoiRod.Rod1, HanoiRod.Rod3))
                .GetSolution()
        );
    }
}
