@using SkiaSharp
@using SkiaSharp.Views.Blazor
@using HanoiTower.Core

<table>
    <tbody>
        @if (Detailed)
        {
            <tr>
                <td>Goal</td>
                <td>@Explanation.Goal.ToString()</td>
            </tr>
        }

        @if (Detailed || Explanation.Location != HanoiExplanationLocation.BeforeMove)
        {
            <tr>
                <td>Begin state</td>
                <td><ObservableHanoiTowerView Tower="Explanation.BeginState" /></td>
            </tr>
        }

        <tr>
            <td>Move</td>
            <td>@Explanation.Move.ToString()</td>
        </tr>

        @if (Detailed || Explanation.Location != HanoiExplanationLocation.AfterMove)
        {
            <tr>
                <td>End state</td>
                <td><ObservableHanoiTowerView Tower="Explanation.EndState" /></td>
            </tr>
        }
    </tbody>
</table>

@code
{
    [Parameter]
    public HanoiExplanation<ObservableHanoiTower>.Simple Explanation { get; set; } = null!;

    [Parameter]
    public bool Detailed { get; set; }
}
