@page "/counter"
@using SkiaSharp
@using SkiaSharp.Views.Blazor

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<div>
    <SKCanvasView OnPaintSurface="OnPaintSurface" EnableRenderLoop="true" style="height:700px; width:700px" />
</div>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    private void OnPaintSurface(SKPaintSurfaceEventArgs args)
    {
        var canvas = args.Surface.Canvas;
        canvas.Clear();
        canvas.DrawCircle(50, 50, 30, new SKPaint { Color = SKColors.Red, Style = SKPaintStyle.StrokeAndFill, StrokeWidth = 20 });
        canvas.DrawCircle(500, 500, 50, new SKPaint { Color = SKColors.Green });
    }
}
