@page "/hanoisolution"
@using HanoiTower.Core
@using SkiaSharp
@using SkiaSharp.Views.Blazor

<PageTitle>Hanoi Tower</PageTitle>

<h1>Hanoi Tower solution</h1>


<p>This is the Hanoi Tower solution.</p>

@if (_solution is null)
{
    <p>Calculating solution...</p>
}
else
{
    <HanoiSolutionView Solution=@_solution Detailed=true />
}

@code {
    private HanoiSolution<ObservableHanoiTower>? _solution;

    protected override async Task OnInitializedAsync()
    {
        var numberOfDisks = 8;
        var tower = new ObservableHanoiTower(numberOfDisks);
        var solverExplainer = new HanoiSolverExplainer<ObservableHanoiTower>();

        _solution = await Task.Run(() =>
            solverExplainer
                .Solve(new HanoiTowerSolutionContext<ObservableHanoiTower>(tower), new HanoiMove(HanoiRod.Rod1, HanoiRod.Rod3))
                .GetSolution()
        );
    }
}
